.tpserver.edit .bg-light-subtle {
    background-color: #f9fafc;
}

.tpserver.edit .input-hover:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 8px rgba(13, 110, 253, 0.4);
}

.tpserver.edit .btn-hover:hover {
    background-color: #0b5ed7;
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.tpserver.edit .input-group-text {
    background-color: #e9ecef;
}

.tpserver.edit .bg-main {
    background-color: #ffc107 !important;
}
.tpserver.stockout .bg-light-subtle {
    background-color: #f9fafc;
}

.tpserver.stockout .btn:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

.tpserver.stockout .list-group-item {
    padding-top: 8px;
    padding-bottom: 8px;
}
