.tp-server.layouts i.fa,
.tp-server.layouts i.fas {
    min-width: 24px;
    min-height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tp-server.layouts .user-panel {
    max-width: 350px;
    box-shadow: 0px -5px 5px rgba(75, 108, 183, 0.5);
    color: #fff !important;
    padding: 6px 6px;
}

.tp-server.layouts .user-panel:hover {
    background-color: rgba(75, 108, 183, 0.2) !important;
    cursor: pointer;
    filter: brightness(1.2);
}

.tp-server.layouts .user-panel a:hover {
    text-decoration: none !important;
    color: #4b6cb7 !important;
}

.tp-server.layouts .user-role-badge {
    display: flex;
    position: absolute;
    bottom: 24px;
    left: 10px;
    width: 100%;
    justify-content: flex-start;
}

.tp-server.layouts .user-role-badge span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    flex-shrink: 1;
    border-radius: 100px;
    padding: 0 12px !important;
}

.tp-server.layouts .avatar {}

.tp-server.layouts .transition-opacity {
    transition: opacity 0.3s ease;
}

.tp-server.layouts .opacity-0 {
    opacity: 0;
    pointer-events: none;
    /* Không nhận sự kiện khi ẩn */
}

.tp-server.layouts .opacity-100 {
    opacity: 1;
    pointer-events: auto;
}

.tp-server.layouts ul.nav-treeview li a.nav-link {
    padding-left: 30px;
}

.tp-server.layouts li.has-treeview {
    margin: auto;
}

.tp-server.layouts .has-treeview>.nav-link>p,
.tp-server.layouts .has-treeview>.nav-link>i {
    font-weight: 650;
    color: #c2c7d0;
}

.tp-server.layouts .has-treeview>.nav-link:hover>p,
.tp-server.layouts .has-treeview>.nav-link:hover>i {
    font-weight: 650;
    color: white;
}

.tp-server.layouts .has-treeview>.nav-link {
    padding-left: 10px;
}

.tp-server.layouts .user-role-badge {
    padding: 2px 10px;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: 600;
    color: #fff;
    margin: 0 4px;
    text-transform: capitalize;
}

.tp-server.layouts .user-avatar {
    border-radius: 50%;
    border: 4px solid transparent;
    transition: border-color 0.3s ease;
}

.tp-server.layouts .user-username {
    color: #c2c7d0;
}

.tp-server.layouts .scan-box:hover {
    filter: brightness(1.12);
}

.tp-server.layouts .nav-link.active {
    background-color: #4b6cb7;
}

.tp-server.layouts .sidebar-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    /* canh giữa text */
    height: 100px;
    /* chiều cao bạn muốn */
    width: 100%;
    /* hoặc cố định chiều rộng nếu cần */
    color: white;
    font-weight: 300;
    font-size: 1.25rem;
    text-decoration: none;

    /* Dùng đường dẫn root web public */
    background-image: url("/img/cover.jpg");
    background-size: cover;

    /* fit rộng đầy đủ */
    background-position: center center;
    background-repeat: no-repeat;

    /* nếu muốn hiệu ứng mờ nền để chữ nổi bật */
    position: relative;
    overflow: hidden;
    filter: brightness(1.2);
    /* tăng sáng 20% */
}

.tp-server.layouts .brand-link-bg:hover {
    filter: brightness(1.8);
}

.tp-server.layouts .brand-link-bg>.brand-text {
    position: relative;
    z-index: 2;
}

.tp-server.layouts {
    padding: 0;
}

.tp-server.layouts .text-main {
    color: #0a0f2c !important;
}

.tp-server.layouts .bright-hover:hover {
    filter: brightness(1.8);
}

.tp-server.layouts .scale-hover:hover {
    transform: scale(1.1);
}

.tp-server.layouts .disable-click {
    pointer-events: none !important;
    /* KHÔNG nhận sự kiện chuột */
}

.tp-server.layouts .recenterDiv {
    justify-content: space-between !important;
    margin-right: 0.75rem !important;
}

.tp-server.layouts .border-main {
    border: 1px solid orange !important;
    border-radius: 4px !important;
}

.tp-server.layouts .btn-hover-warning:hover {
    background-color: limegreen !important;
    border: 1px solid limegreen !important;
    transform: scale(1.02);
}

footer.tpserver.footer.main-footer {
    padding: 2px 20px !important;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

/* global style */
.bg-main {
    background-image: linear-gradient(90deg, #553686) !important;
    color: white !important;
}

.bg-success-subtle {
    background-color: #d1e7dd !important;
    color: #0f5132 !important;
}

.text-success-subtle {
    color: #0f5132 !important;
}

.bg-danger-subtle {
    background-color: #f8d7da !important;
    color: #842029 !important;
}

.text-danger-subtle {
    color: #842029 !important;
}

.bg-dark-main {
    background-image: linear-gradient(90deg, #303242) !important;
    color: white !important;
}

.hv-bg-main {
    background-color: #553686 !important;
    color: white !important;
}

.hv-opacity:hover {
    opacity: 0.8 !important;
}

.hv-brightness:hover {
    filter: brightness(1.2) !important;
}

table td,
table th {
    padding: 0px 2px !important;
    text-align: left !important;
}

